:root {
    --primary-color:  linear-gradient(135deg, #6d5dd3, #ffb6c1);
    --font-family: 'Segoe UI';
    --text-color:#555;
}

body{
    background: var(--primary-color);
    min-height: 1000px;
    font-family: var(--font-family);
}

.navbar{
    text-align: center;
    font-size: smaller;
    font-family: var(--font-family);
    background-color: var(--primary-color);
    color: white;
    font-weight:600;
    text-shadow:10px 0 10px hsla(209, 100%, 50%, 0.2)
}

.navbar-brand{
    transition: all 0.3s ease-in;
    position: relative;
    text-align: justify;
    color:black;
    text-shadow: 10px 0 20px white;
}

.nav-link:active{
    color: white;
}
.navbar a {
  text-decoration: none;
  color: #333;
  padding: 10px;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.navbar a.active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    text-decoration-color: rgb(9, 71, 121); 
}


.nav-link{
    text-transform: capitalize;
}
.nav-link:hover{
    transition: all 0.3s ease;
    position: relative;
}

.nav-link:hover::after{
    transform: scaleX(1);
}

h1{
    color: white;
    text-shadow:
      0 0 10px hsla(209, 100%, 50%, 0.2)
}

.container-fluid{
    max-width: 1000px;
    margin: 50px auto;
    text-align: center;
}

.sticky-container {
    position: sticky;
    top: 0;
    z-index: 1;
}

.header-card,
.task-card {
    border-radius: 30px;
    padding: 30px;
    margin-bottom: 25px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    transition: all 0.3s ease-in-out;
    background: var(--primary-color);
}

.table-responsive {
    max-height: 400px; /* Adjust as needed */
    overflow-y: auto;
}

.table thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background: var(--primary-color);
}

